repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*\\.css\\.map|.*\\.svg"
      - id: check-yaml
        exclude: "mkdocs.yml|pocket_cli/templates/cloudformation/.*\\.yaml"
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--select, I, --fix]
      - id: ruff-format
        exclude: "pocket/templates/init/django-settings.py"
