site_name: Magic Pocket
site_url: https://worgue.github.io/magic-pocket
repo_url: https://github.com/worgue/magic-pocket

nav:
  - Intro: index.md
  - "features.md"
  - "get_started.md"
  - Tutorial:
      - "Simple Project": tutorial/simple.md
  - "changelog.md"

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.top
    - navigation.footer
    - content.code.annotate
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
